streamlit==1.31.0
streamlit-authenticator==0.3.2
PyYAML==6.0.1
supabase==2.3.4
plotly==5.18.0
pandas==2.1.4
python-pptx==0.6.23
selenium==4.16.0
feedparser==6.0.10
beautifulsoup4==4.12.2
requests==2.31.0
numpy==1.26.3
pyvis==0.3.2
matplotlib==3.8.2
wordcloud==1.9.3
python-docx==1.1.0
yfinance==0.2.36
ollama==0.1.6
groq==0.4.2
instaloader==4.11.1
python-dotenv==1.0.0
